*{
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

textarea{
    width: 18rem;
    height: 10rem;
    resize: none;
}
.objective-add{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-holder{
    display: flex;
    flex-direction: column;
}
.mx-2{
    margin: 0 .5rem 0 0 ;
}
.job{
    background-color: #3333;
    padding: 1rem;
}
.job input{
    background-color: white;
}
.px-0{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2em;
}
.paperx{
    background-color: #41403e;
    background-color: var(--main-background);
    border: 1px solid #cdcccb;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 2rem;
}

/* bootstrap */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}


@media (max-width: 576px) {
    .paperx{
      box-shadow: none;
      border: none;
      margin: 1rem;
      padding: 1rem;
    }
}